mixin sPopular(data)
	// start sPopular
	+b.SECTION.sPopular.section#sPopular&attributes(attributes)
		.container
			+e.top-row.row.align-items-center
				.col-xl
					+b.section-title
						h2 Популярные категории
				.col-xl-auto
					+e.gray Более 20 000 разновидностей товаров для комфорта в вашем доме
			+e.row.row
				+sPopularItem(1, '#FFFFFF', `Бытовая техника и товары<br>для дома`)
				+sPopularItem(2, '#FFFFFF', `Бытовая техника и товары<br>для дома`)
				+sPopularItem(3, '#FFFFFF', `Строительство и ремонт`)
				+sPopularItem(4, '#FFFFFF', `Бытовая техника и товары<br>для дома`)
	// end sPopular

mixin sPopularItem(imgNum,bgColor, title)
	+e.col.col-6.col-lg-3
		+e.item(style=`background-color: ${bgColor};` href="#")
			+e.title!=title
			if imgNum
				+e.bg-img
					.img-wrap-center
						img(loading="lazy" src=`img/@2x/sPopular-${imgNum}.png` alt="")
