// start .sParking
.sParking {
	--sPT: 0;
	--sPB: 0;
	// --sTPB: ;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 12px;
		background-image: linear-gradient(90deg, #51A80E 0%, #0A9D62 29.69%, #CFC95C 59.9%, #E29525 100%);
		opacity: .5;
		left: 0;
		top: 0;
	}
	p {
		margin-bottom: 0;
		font-size: rem(20);
		color: $gray-900;
		@include media-breakpoint-down(sm) {
			font-size: rem(16);
		}
	}
	&__icon {
		background-color: $primary;
		display: inline-block;
    padding: 19px;
    border-radius: 10px;
		margin-right: rem(78);
		@include media-breakpoint-down(sm) {
			margin-right: rem(40);
		}
		.icon {
			color: #fff;
			font-size: rem(42);
		}
	}
	&__about-parking {
		padding-top: rem(70);
		padding-bottom: rem(50);
		// height: rem(208);
	}
	&__text-wrap {
		display: flex;
		align-items: center;
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: rem(420);
			height: 1px;
			background-color: $primary;
			left: rem(-295px);
			z-index: -1;
		}
		@include media-breakpoint-up(lg) {
			padding-top: #{rem(70)};
			padding-bottom: #{rem(50)};
		}
	}
	&__image {
		min-height: rem(350);
		@include media-breakpoint-up(md) {
			min-height: rem(677);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sParking