// start .topLine
.topLine {
	padding: rem(10) 0;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
	background-image: linear-gradient(90deg, #51A80E 0%, #0A9D62 29.69%, #CFC95C 59.9%, #E29525 100%);
	position: relative;
	z-index: 11;
	&__row{
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(12)};
	}
	&__location-col{
		min-width: calc(var(--location-col-mw) + var(--bs-gutter-x));
	}
	.menu{
		display: flex;
		align-items: center;
		margin: 0;
		list-style: none;
		justify-content: center;
		li{
			margin-right: rem(26);
			&:last-child{
				margin-right: 0;
			}
		}
		a{
			display: block;
			text-decoration: none;
			font-size: rem(14px);
			line-height: calc(19/14);

			color: $white;
			&:hover{
				color: $gray-115;
			}
		}
	}
	&__address{
		font-size: rem(14);
		line-height: calc(19/14);
		color: $white;

		display: block;
		text-decoration: none;
	}
	&__tell{
		font-size: rem(14);
		line-height: calc(19/14);
		color: $white;

		display: block;
		text-decoration: none;
		&:hover{
			color: $gray-115;
		}
	}
	&__workTime {
		position: relative;
		cursor: pointer;
		color: $white;
		span {
			font-size: rem(14);
		}
		.icon-dots {
			@include mt;
			font-size: rem(16);
		}
		&:hover {
			.icon-dots {
				color: $primary;
			}
			.topLine__workTime-content {
				// display: block;
				opacity: 1;
				pointer-events: all;
			}
			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background-color: transparent;
				top: 70%;
			}
		}
	}
	&__workTime-content {
		@include mt;
		position: absolute;
		display: block;
		width: rem(185);
		background-color: #F5F5F5;
		border-radius: 5px;
		padding: rem(10) rem(15);
		top: 33px;
		left: 17px;
    z-index: 11;
		// display: none;
		opacity: 0;
		pointer-events: none;
		&:before {
			content: '';
			position: absolute;
			display: block;
			// width: 18.5px;
			// height: 9px;
			border: 9px solid transparent;
    	border-bottom: 10px solid #F5F5F5;
			right: 50%;
			top: -19px;
    	transform: translateX(50%);
		}
		span {
			font-size: rem(12);
			color: $body-color;
		}
		p {
			font-size: rem(12);
			color: $gray-650;
			padding-top: rem(5);
			padding-left: rem(17);
			margin-bottom: 0;
		}
		.icon-alert {
			position: absolute;
			top: rem(42);
			font-size: rem(12);
			color: $primary;
		}
	}

} // end.topLine

.location{

	&__dd-btn{
		@include mt();
		cursor: pointer;

		display: flex;
		align-items: center;
		text-decoration: none;
		color: $white;

		&:hover{
			color: $gray-115;
			.icon{
				color: $gray-115;
			}
		}
		font-size: rem(14);
		line-height: calc(19/14);

		.icon{
			@include mt();
			color: $white;
			font-size: rem(26);

			@include media-breakpoint-up(lg){
				font-size: rem(15);
				color: $white;
				margin-right: rem(11);
			}
		}
	}

	position: relative;
	z-index: 800;
	&__dd{
		@include mt();
		transform-origin: top left;
		transform: scale(0);
		&.active{
			transform: scale(1);
		}

		position: absolute;
		z-index: 900;
		top: 100%;

		width: rem(230);
		@include media-breakpoint-up(sm){
			width: rem(340);
		}
		right: 0;
		@include media-breakpoint-up(md){
			left: 0;
			right: unset;
		}
		padding-top: rem(20);
	}
	&__dd-inner{
		background-color: $white;

		padding: rem(18) rem(12);
		@include media-breakpoint-up(sm){
			padding: rem(20);
		}

		position: relative;
		&:after{
			content: '';
			position: absolute;

			left: calc(100% - #{rem(20)});
			@include media-breakpoint-up(md){
				left: rem(45);
			}
			bottom: calc(100% - 1px);

			transform: translateX(-50%);

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 11px 10px;
			border-color: transparent transparent $white transparent;
		}

	}
	&__title{
		color: $headings-color;
		font-weight: 500;
		font-size: rem(18);
		line-height: 1.25;

		margin-bottom: rem(20);
		@include media-breakpoint-up(sm){
			margin-bottom: rem(12);
		}
	}
	&__btns-row{
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: #{rem(10)};
	}
	&__btn{
		@extend .btn;
		width: 100%;
		text-align: center;
		justify-content: center;

		font-size: rem(16);
		line-height: calccalc(20/16);

		padding: rem(6) rem(12);
		@include media-breakpoint-up(sm){
			padding: rem(9) rem(15);
		}
		border-width: 1px;

		&--orange{
			@extend .btn-primary;
		}
		&--out-gray{
			@extend .btn-outline-light;
			border-color: $gray-400!important;

			background-color: transparent!important;
			&:hover{
				background-color: $gray-400!important;
			}

			color: $headings-color!important;
		}
	}
	&__{}



}