// start .sArtical
.sArtical {
	--sPT: #{rem(0)};
	--sPB: #{rem(45)};
	--sTPB: #{rem(35)};
	&:before, &:after {
		content: '';
		position: absolute;
		display: block;
		height: 100%;
		width: 7.4vw;
		background-image: url('../img/@2x/header-block-bg.png');
		background-repeat: repeat-y;
		background-position: center;
		background-size: contain;
		top: 0;
		z-index: -1;
		max-height: rem(1030);
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(90)};
	}
	&__container{
		//border-bottom: 1px solid rgba($black, 1);
		// position: relative;
		// &:after{
		// 	content: '';
		// 	position: absolute;

		// 	width: calc(100% - #{$grid-gutter-width});
		// 	left: calc(#{$grid-gutter-width}  * .5);
		// 	height: 1px;
		// 	bottom: 0;

		// 	background-color: rgba($black, .1);
		// }

		// padding-bottom: rem(45);
		// @include media-breakpoint-up(xl){
		// 	padding-bottom: rem(70);
		// }
	}
	&__row{
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(30)};
	}
	&__content-col{
		position: relative;
	}
	&__content-wrap{
		// position: sticky;
		// left: 0;
		// top: rem(30);
		background-color: $gray-830;
		border-radius: 10px;
		padding: rem(20) rem(20) rem(14);
		@include media-breakpoint-up(lg){
			padding: rem(20) rem(30) rem(14);
			max-height: calc(100vh - 120px);
			position: relative;
			overflow-y: auto;
		}
	}
	//
	&__c-headline{
		// @include media-breakpoint-up(xxl){
		// 	padding-top: 8px;
		// }

		font-size: rem(20);
		line-height: calc(30/20);
		font-weight: 600;
		color: $white;
		margin-bottom: rem(19);
	}
	&__content{
		// border: 1px solid $gray-280;

		a{
			display: block;
			color: $white;
			text-decoration: none;
			&:hover{
				color: $primary;
			}
		}
	}
	&__c-item{
		// border-bottom: 1px solid $gray-280;
		padding: rem(9) rem(0);

		ul{
			list-style: none;
			padding: rem(10) rem(20) rem(10) rem(15);
			background-color: $body-color;
			border-radius: 10px;
			margin-bottom: 0;
			// margin: 0 0 rem(8);
			li{
				margin-bottom: rem(6);
				&:last-child{
					margin-bottom: 0;
				}
			}
			a{
				display: flex;
				align-items: center;

				font-size: rem(16);
				line-height: calc(28/16);
				position: relative;
				padding-left: rem(15);

				&:before{
					content: '';
					position: absolute;
					display: inline-block;
					flex-shrink: 0;
					width: 6px;
					height: 6px;
					background-color: $primary;
					top: 11px;
					left: 0;
					border-radius: 50%;
				}
			}
		}
	}
	&__main-link{
		display: block;
		line-height: 1.75em;
		// padding: rem(7) 0;
		margin-bottom: rem(9);
	}
	//
	h1{
		@include rfs(32px);
		margin-bottom: rem(25px);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(30);
		}
		color: $gray-900;
		font-weight: 600;

	}
	&__table-wrap {
		position: relative;
		overflow: auto;
	}
	&__txt-col{
		& > *:last-child{
			margin-bottom: 0;
		}

		section{
			margin-bottom: rem(30);
			@include media-breakpoint-up(xl){
				margin-bottom: rem(39.5);
			}
		}

		h2{
			line-height: 1.31;
			margin-bottom: rem(20);
		}
		.h4 {
			padding-top: rem(14);
			padding-bottom: rem(22);
			margin-bottom: 0;
		}
		p{
			line-height: 1.75em;
		}
		ul{
			list-style: none;
			margin: 0 0 rem(16);

			li{
				line-height: calc(22/16);
				display: block; 
				position: relative;
				margin-bottom: rem(15);
				padding-left: rem(28); 
				&::before{
					content: '';
					background: linear-gradient(0deg, #ADADAD, #ADADAD);
					border-radius: 20px;
					width: 6px !important;
					height: 6px !important;
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: 3px;
				}
			}
		}
		table {
			width: 100%;
			min-width: rem(513);
			border-radius: 10px;
			overflow: hidden;
			tr {
				&:first-child {
					box-shadow: 0 5px 16px rgb(0 0 0 / 30%);
					position: relative;
    			z-index: 1;
				}
				&:not(:first-child) {
					background-color: $gray-120;
				}
				&:not(:last-child) {
					td {
						border-bottom: 1px solid $gray-511;
					}
				}
			}
			th {
				@extend .h6;
				position: relative;
				padding: rem(18) rem(6) rem(18) rem(28);
				font-weight: 700;
				background-color: $gray-115;
				@include media-breakpoint-up(lg) {
					padding: rem(18) rem(6) rem(18) rem(40);
				}
				&:before {
					content: '';
					position: absolute;
					display: block;
					left: rem(16);
					top: 50%;
					transform: translateY(-50%) rotate(-45deg);
					width: 7px;
					height: 7px;
					background-image: linear-gradient(90deg, #6CBB10 0%, #C9DE5E 100%);
					border-radius: 2px;
					@include media-breakpoint-up(lg) {
						width: 11px;
						height: 11px;
					}
				}
			}
			td {
				vertical-align: baseline;
				padding: rem(15) rem(15);
				color: $body-color;
				@include media-breakpoint-up(lg) {
					padding: rem(18) rem(39);
				}
				// &:first-child {
				// 	padding-left: rem(33);
				// }
				// &:last-child {
				// 	padding-right: rem(33);
				// }
			}
		}
	}
	&__img-wrap {
		@include block(1012, 400);
		margin-bottom: rem(30);
	}
	//item
	&__items{
		padding-top: rem(10);
		padding-bottom: 20px;
	}
	&__item{
		padding-bottom: rem(40);
		@include media-breakpoint-up(xl){
			padding-bottom: rem(60);
		}
		&:last-child{
			padding-bottom: 0;
		}

		@include media-breakpoint-up(md){
			&:nth-child(even){
				--row-fd: row-reverse;
			}
		}
	}
	&__i-row{
		flex-direction: var(--row-fd, row);

		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(20)};
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(30)};
		}
	}
	&__img-col{
		@include media-breakpoint-up(md){
			width: calc(4/9 * 100%) !important;
		}
	}
	&__img{
		border: 1px solid $gray-280;
		min-height: 100%;
		height: rem(383);
		padding: rem(20);

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__title{
		display: block;
		text-decoration: none;

		font-size: rem(20);
		line-height: calc(34/20);
		color: $headings-color;
		margin-bottom: rem(14);
	}
	&__descr{
		line-height: calc(22/16);

		margin-bottom: rem(25);
		@include media-breakpoint-up(md){
			margin-bottom: rem(47);
		}
	}
	&__char-title{
		font-weight: 500;
		line-height: calc(22/16);
		margin-bottom: rem(12);
	}
	&__chars{
		font-size: rem(14);
		line-height: calc(21/14);
	}
	&__char{
		margin-bottom: rem(2);
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__key{
		color: $gray-585;
		margin-right: rem(3);
	}
	&__val{

	}

	//
	&__{}
	&__{}


	i {
		background: #EEEEEE;
		padding: rem(25) rem(20) rem(25) rem(25 + 32);
		background: #EEEEEE;
		font-style: normal;
		display: block;
		margin-bottom: rem(30);
		position: relative;
		&::before{
			content: '';
			background-color: $primary;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8V12M12 16H12.01M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: rem(24) rem(24);
			left: 0;
			top: 0;
			height: 100%;
			width: rem(32);
			position: absolute;
		}
	 
	}
} // end.sArtical

.custom-list{
	// font-size: 16px;
	margin-bottom: rem(30);
	p {
		margin-bottom: rem(4);
	}
	li{ 
		&::before{
			content: var(--icon, '')!important; 
			top: 0;
			background-image: none !important;
			width: 16px !important;
			height: 16px !important;
			border-radius: 0;
		}
		padding-left: rem(31) !important;
	}
	&--plus{
		--icon: url("../img/svg/icon-art-pluses.svg");
		
	}
	&--minus{
		--icon: url("../img/svg/icon-art-minuses.svg");
	}
	&--default {
		li {
			padding-left: rem(16) !important;
			margin-left: rem(5);
			&::before {

				width: 8px !important;
				height: 8px !important;
				background-color: $body-color !important;
				top: 7px !important;
			}
		}
	}
}

.bestArtical-item{
	margin-bottom: rem(90);
	margin-top: rem(30);
	&:nth-child(even){
		.row{
			flex-direction: row-reverse;
		}
	}
	.row{
		--bs-gutter-x: 50px;
	}
	&__head{
		background: #EEEEEE;
		@include media-breakpoint-down(md) {
			text-align: center;
			padding-bottom: 0;
			}
		padding: rem(20);
	}
	
	&__body{
		padding: 20px rem(20) 0;
	}
	&__col{
		position: relative;
	}
	&__left-block{
		@include media-breakpoint-down(md){
			position: relative;
			z-index: 2;
			&::before{
				content: '';
				position: absolute;
				top: 30%;
				z-index: -1;
				left: calc(-1 * var(--bs-gutter-x));
				width: calc(100% + var(--bs-gutter-x) * 2);
				height: calc(80% );
				background-color: #fff;
			}
		}
		@include media-breakpoint-up(md){

			position: absolute;
			top: 0;
			// left: 0;
			left: calc(var(--bs-gutter-x) / 2);
			width: calc(100% - var(--bs-gutter-x));
		}
		text-align: center;
		position: relative;
	}
	&__img-wrap{
		height: rem(300);
		vertical-align: middle;
		line-height: rem(300);
		border: 2px solid #EEEEEE;
		background-color: #fff;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(300);
		margin-bottom: rem(30);
		display: block;
		img{
				max-width: 100%;
				max-height: 100%;
		}
	}
	&__logo{
		display: block;
		margin-bottom: 2rem;
	}
	&__title{
		a{

			border: none !important;
			text-decoration: none !important;
		}
		a:not(:hover){
			color: $body-color;
		}
		@extend .h2;
		font-weight: normal;
		margin-bottom: 0;
	}
	&__price{
		@extend .h3;
		font-weight: normal;
	}
	&__content{
		max-width: rem(550);
		min-height: rem(500);
	}
}