mixin sArticalCItem(txt)
	+e.c-item
		+e.main-link(href="#")=txt
		if block
			ul
				block

mixin sArticalItem(imgNum, title)
	+e.item
		+e.i-row.row
			+e.img-col.col-md-auto
				+e.img(href="#")
					img(src=`img/@2x/sArticalItem-${imgNum}.png` alt="" loading="lazy")
			.col-md
				+e.title(href="#")=title
				+e.descr
					p Двигатель обеспечивает инструменту стабильную, продуктивную работу. Воздушная система охлаждения эффективно отводит тепло, защищая мотор от перегрева. Конструкция довольно проста и устойчива к поломкам. Модель может комплектоваться удлинителем. Органы управления расположены на одной рукоятке.
				+e.char-title Характеристики
				+e.chars
					+sArticalCharItem('Диаметр бурения:', 'до 300 мм')
					+sArticalCharItem('Тип двигателя:', 'двухтактный, мощность – 1,9 л.с.;')
					+sArticalCharItem('Диаметр соединения:', 'стандартный')
					+sArticalCharItem('Вес устройства:', '6,5 кг')
					+sArticalCharItem('Шнек в комплекте:', 'не входит')
					+sArticalCharItem('Ёмкость резервуара для топлива:', '6 литров')
					//-+sArticalCharItem('', '')

mixin sArticalCharItem(key,val)
	+e.char
		+e.SPAN.key=key
		+e.SPAN.val=val

mixin sArticalBody()
	// start sArtical
	+b.sArtical.section#sArtical&attributes(attributes)
		+e.container.container
			+e.row.row
				+e.content-col.col-xl-3.col-lg-4
					+e.content-wrap
						+e.c-headline Содержание
						+e.content
							//- +sArticalCItem('Разновидности мотобуров')
							+sArticalCItem('Как работают кофеварки, какими они бывают:')
								li: a(href="#") Капельные кофеварки
								li: a(href="#") Рожковые кофеварки
								li: a(href="#") Капсульные кофеварки
								li: a(href="#") Кофемашины
							+sArticalCItem('Как правильно сделать выбор')
							+sArticalCItem('Главные характеристики кофеварок')
							+sArticalCItem('ТОП самых лучших моделей кофеварок этого года:')
								li: a(href="#") Кофеварка Smeg ECF01PKEU
								li: a(href="#") Кофеварка Maunfeld MF-720S PRO
								li: a(href="#") Кофеварка Maunfeld MF-734BK
								li: a(href="#") Кофеварка Smeg DCF02BLEU
								li: a(href="#") Кофеварка Maunfeld MF-722S
				+e.txt-col.col 
					block
	// end sArtical
mixin sArtical(data)
	+sArticalBody()
					section
						p Если вы&nbsp;любите наслаждаться бодрящим, горячим, ароматным кофе, то&nbsp;наверняка задумываетесь о&nbsp;покупке специального прибора для приготовления этого напитка. С&nbsp;такой техникой можно максимально ускорить и&nbsp;упростить процесс заваривания кофе. Машина готовит напиток гораздо быстрее, чем при самостоятельной варке на&nbsp;плите в&nbsp;турке.
						p Но&nbsp;какая кофеварка лучше справляется со&nbsp;своими задачами, чем отличается принцип работы каждого типа? Есть несколько видов устройств данной категории, все они имеют свои особенности, плюсы и&nbsp;минусы. Выясните, какую кофеварку выбрать для комфортной эксплуатации: капельную, рожковую, капсульную или&nbsp;же автоматическую. Также из&nbsp;этой статьи на&nbsp;сайте вы&nbsp;узнаете главные характеристика кофеварок и&nbsp;ответы на&nbsp;самые актуальные вопросы.
						.h4 Как работают кофеварки, какими они бывают
						p Что лучше варит кофе: капельная или капсульная кофеварка, рожковая или автоматическая машина? Главная задача всех устройств этой категории&nbsp;&mdash; приготовление кофейных напитков. Выбор видов готового кофе, а&nbsp;также их&nbsp;аромат и&nbsp;вкус напрямую зависят от&nbsp;типа прибора. И&nbsp;чтобы найти оптимальный вариант, нужно знать особенности всех разновидностей, а&nbsp;также отличия, например, рожковой кофеварки от&nbsp;капсульной, капельной от&nbsp;автоматического аппарата. Ниже рассмотрим принципы работы.
						+e.img-wrap
							.img-wrap-center
								+img('img/@2x/sArticle-img-1.jpg')
						mixin list()
							ul
								li Простота, надёжность конструкции. Благодаря ей капельные устройства служат долго без поломок, без ремонтов.
								li Возможность приготовить одновременно несколько порций напитка для нескольких человек, для всей семьи.
								li Доступная стоимость. Кофеварки капельного типа стоят на порядок дешевле других видов.
								li Широкий ассортимент предлагаемых разными производителями капельных моделей.
								li Мягкий, приятный на вкус кофе высокого качества на выходе.
								li Удобное использование с несложным управлением.
						+b.custom-list--plus
							p Рассмотрим все преимущества капельных кофеварок:
							+list()
						+b.custom-list--minus
							p Недостатки:
							+list()
						+b.custom-list--default
							p Рожковые кофеварки классифицируются на два типа:
							+list()
						+e.table-wrap
							table
								tr
									th Критерий
									th Гидролиз
									th Пиролиз
								tr
									td Принцип воздействия на загрязнения
									td Горячий пар размягчает налёт на стенках
									td Все загрязнения после нагрева до высокой температуры становятся золой, пеплом
								tr
									td Достигаемый эффект
									td Облегчение удаления размягченной грязи после процедуры гидролизной очистки
									td Полное очищение камеры от любых загрязнений, включая застарелые и въевшиеся
								tr
									td Температурный режим
									td От 80 до 100 градусов Цельсия
									td До 500℃



mixin bestArtical(i)
	+b.bestArtical-item
		+e.head
			.row
				.col
					+e.title
						a(href="#")  Midea MRB519SFNDX5
					+e.price 49 990 руб.
				+e.col.col-md-4.order-md-first
					+e.left-block
						+e.img-wrap(href="#")
							+pic(`artical-prod-${i}.png`,'',0)
						+e.logo(href="#")
							+pic(`artical-logo-${i}.png`,'',0)
		+e.body
			.row
				.col-md-4
				.col
					+e.content
						p Это двухкамерный холодильник с хорошим полезным объёмом, электронным управлением, одним компрессором.
						+b.custom-list--plus
							p Рассмотрим плюсы:
							ul
								li незначительный шум – 41 дБ;
								li система разморозки Full No Frost;
								li сенсорное понятное управление с ярким дисплеем;
								li наличие зоны свежести;
								li индикация включения, открытой дверцы, температур, включения;
								li яркое освещение;
								li точные регулировки температур для морозильной/холодильной камер.
						+b.custom-list--minus
							p Минусы:
							ul 
								li разморозка: ручная для морозилки, капельная – для холодильной камеры.
mixin sArtical2(data)
	+sArticalBody() 
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor repudiandae quas porro quisquam sapiente dolorum neque #[a(href="#") temporibus veritatis], incidunt nihil voluptatibus quod odit eaque dolores dolorem et recusandae fuga excepturi quibusdam. Nemo architecto natus, labore cum tempora ipsam laboriosam atque.
		h2 Самые лучшие модели нынешнего года
		p На российском рынке представлены приборы разных производителей. Они выпускаются такими мировыми гигантами как Bosch, Teka, Midea, Smeg и прочими. Ниже рассмотрим самые популярные модели, входящие в топ лучших холодильников нынешнего года. Этот рейтинг составляли мастера и эксперты, оценивая основные характеристики и отзывы владельцев.
		div
			+bestArtical(1)
			+bestArtical(2)

