// start .sNew
.sNew {
	--sPT: #{rem(32)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(0)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(80)};
		--sPB: #{rem(55)};
	}
	&__top-row{
		margin-bottom: rem(40);
		font-weight: 600;

		--bs-gutter-x: #{rem(24)};
		
		position: relative;
		z-index: 1;
		@include media-breakpoint-down(lg) {
			--bs-gutter-y: #{rem(12)};
		}
		&::before {
			@include media-breakpoint-up(lg) {
				content: '';
				position: absolute;
				display: block;
				width: calc(100% - var(--bs-gutter-x));
				height: 1px;
				background-color: #D6D6D6;
				top: 50%;
				left: calc(var(--bs-gutter-x) / 2);
				transform: translateY(-50%);
				z-index: -1;
			}
		}
	}
	.section-title{
		h2{
			font-size: rem(30px);
			@include media-breakpoint-up(sm){
				font-size: rem(32px);
			}
			font-weight: 600;
			background-color: $white;
			padding-right: rem(25);
			max-width: max-content;
			position: relative;
			color: $body-color;
			&::before {
				content: '';
				position: absolute;
				display: block;
				width: rem(17);
				height: rem(17);
				background: var(--title-gr, linear-gradient(90deg, #51A80E 0%, #0A9D62 29.69%, #CFC95C 59.9%, #E29525 100%));
				transform: translateY(-50%) rotate(-45deg);
				top: 50%;
				left: rem(-32);
				border-radius: 2px;
			}
		}
	}
	&__all-link{
		text-decoration: none;
		font-size: rem(16);
		@include media-breakpoint-up(lg) {
			padding-left: rem(25);
		}
		@include media-breakpoint-up(xxl){
		}
		background-color: #fff;


		color: $gray-511;
		font-weight: 400;
		&:hover{
			color: var(--bs-primary);
		}
	}
	&__slider-wrap{
		margin-bottom: rem(50);

		position: relative;

		& > .swiper{
			padding: 20px;
			margin: -20px;
			@include media-breakpoint-down(md){
				overflow: visible!important;
			}
			//
			& > .swiper-wrapper{
				& > .swiper-slide{
					height: auto;
					width: #{rem(272)};

					@include media-breakpoint-up(md){
						width: calc(100%/3);
					}
					@include media-breakpoint-up(lg){
						width: calc(100%/4);
					}
					@include media-breakpoint-up(xxl){
						//width: calc(20% + 1px);
						width: rem(318);
					}
				}
			}
		}

	}

	//
	.swiper-prev,
	.swiper-next{
		@extend .ball-prev-next;
		position: absolute;
		z-index: 10;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 10px;
		border: none;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		// margin-top: rem(-40);
		@include media-breakpoint-up(lg) {
			width: rem(51);
			height: rem(51);
		}
	}
	.swiper-prev{
		right: calc(100% + 10px);
	}
	.swiper-next{
		left: calc(100% + 10px);
	}

	//
	&__baners-row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};
	}
	&__baner{
		text-decoration: none;
		position: relative;
		z-index: 1;
		border-radius: 10px;
		background-color: $gray-830;
		overflow: hidden;

		padding: rem(30) rem(20);
		@include media-breakpoint-up(sm){
			// padding: rem(40) rem(24);
			padding: rem(30) rem(40);
		}
		@include media-breakpoint-up(xl){
		}

		min-height: rem(330);
		display: flex;
		align-items: stretch;
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include mt;
			position: absolute;
			//max-width: rem(665);
			//height: auto;
			right: 0;
			bottom: 0;
			z-index: -1;
		}
	}
	// &__b-img{
	// 	position: absolute;
	// 	z-index: -1;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;

	// 	img{
	// 		width: 100%;
	// 		height: 100%;
	// 		object-fit: cover;
	// 	}
	// }
	&__content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		// padding-bottom: rem(20);
	}
	&__b-title{
		color: $white;
		line-height: 1.2;
		font-weight: 600;
		font-size: rem(20);
		@include media-breakpoint-up(lg) {
			font-size: rem(32);
		}
		span {
			font-size: rem(32);
			font-weight: 700;
			text-transform: uppercase;
			@include media-breakpoint-up(lg) {
				font-size: rem(50);
			}
		}
	}
	&__c-descr{
		font-size: rem(20);
		color: $white;
	}

	&__btn{
		@extend .btn;
		@extend .btn-primary;

		margin-top: auto;
		margin-bottom: auto;
		text-transform: uppercase;

		--bs-btn-bg: transparent;
		--bs-btn-font-size: #{rem(20)};
		--bs-btn-font-weight: 600;
		--bs-btn-padding-x: 0;
		--bs-btn-padding-y: 0;
		--bs-btn-border-width: 0;
		--bs-btn-hover-bg: transparent;
		--bs-btn-active-bg: transparent;
		--bs-btn-hover-color: var(--bs-primary);
		position: relative;
		padding-right: rem(48);
		&::after {
			content: '';
			display: block;
			position: absolute;
			width: rem(48);
			height: rem(48);
			background-image: url('../img/svg/next.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}
	//2
	&__txt-box{
		max-width: rem(252);
		margin-left: auto;

		display: flex;
		flex-direction: column;
		padding-bottom: rem(20);
	}
	&__title{
		font-size: rem(21);
		color: $white;
		text-transform: uppercase;
	}
	&__price-box{
		margin-top: auto;
	}
	&__price{
		display: block;
		&--old{
			font-size: rem(11);
			color: $gray-500;
			text-decoration: line-through;

			margin-bottom: rem(8);
		}
		&--new{
			font-size: rem(25);
			color: $gray-200;
		}
	}
	&--catalog {
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: rem(626);
			background-color: $gray-110;
			left: 0;
			top: 0;
			z-index: -1;
		}
		.sNew {
			&__slider-wrap {
				padding-bottom: rem(45);
				margin-bottom: rem(45);
				@include media-breakpoint-up(lg) {
					padding-bottom: rem(80);
					margin-bottom: rem(90);
				}
			}
			&__all-link {
				background-color: $gray-110;
			}
		}
		.section-title h2 {
			background-color: $gray-110;
		}
		.swiper-prev,
		.swiper-next {
			margin-top: rem(-40);
		}
	}
	&__{}
	&__{}
} // end.sNew