// start .sArticals
.sArticals {
	--sPT: #{rem(0)};
	--sPB: #{rem(47)};
	--sTPB: #{rem(30)};
	z-index: 1;
	&:before, &:after {
		content: '';
		position: absolute;
		display: block;
		height: 100%;
		width: 7.4vw;
		background-image: url('../img/@2x/header-block-bg.png');
		background-repeat: repeat-y;
		background-position: center;
		background-size: contain;
		top: 0;
		z-index: -1;
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(94)};
	}


	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(24)};
		padding-bottom: rem(45);
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(30)};
			--bs-gutter-y: #{rem(42)};
			padding-bottom: rem(82);
		}
	}
	//
	&__pugin-cont{
		// border-top: 1px solid rgba($black, .1);

		// padding-top: rem(30);
		// @include media-breakpoint-up(xl){
		// 	padding-top: rem(50);
		// }
	}
	&__col{
		&:nth-child(2), &:nth-child(5) {
			.sArticalsitem {
				&__date {
					bottom: unset;
					top: 28px;
				}
			}
		}
		&:nth-child(5) {
			.sArticalsitem__date {
				top: 66px;
				border-radius: 0 0 0 5px;
				&:before {
					background-color: #6FBD13;
					background-image: none;
				}
			}
		}
	}
} // end.sArticals

.sArticalsitem{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	&:hover {
		.sArticalsitem__img {
			img {
				transform: scale(1.1);
			}
		}
		.sArticalsitem__rating {
			&:before {
				opacity: 0;
			}
		}
		.sArticalsitem__title {
			color: var(--bs-primary);
		}
	}
	&__img{
		@extend .accept-ratio-frame;
		padding-top: calc(327/433 * 100%);
		margin-bottom: rem(18);
	}
	&__date{
		position: absolute;
		overflow: hidden;
		z-index: 2;
		right: 0;
		bottom: 18px;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
		backdrop-filter: blur(15px);
		border-radius: 6px 0px 0px 6px;

		// max-width: rem(153);
		width: auto;
		font-size: rem(16px);
		font-weight: 600;
		padding: rem(10) rem(15) rem(10) rem(25);
		line-height: calc(20/16);
		color: $white;
		min-width: rem(150);
		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 10px;
			// border-radius: 5px 0px 0px 5px;
			top: 0;
			left: 0;
			background: var(--line-gr,  linear-gradient(90deg, #6CBB10 0%, #C9DE5E 100%));
		}
	}
	&__title{
		display: block;
		text-decoration: none;
		font-size: rem(20);
		line-height: calc(30/20);

		color: $gray-900;
		font-weight: 600;

		margin-bottom: 0;
	}
	&__descr{
		font-size: rem(14);
		line-height: calc(22/14);
		margin-bottom: rem(17);
	}
	&__read-more{
		line-height: calc(23/16);
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		margin-top: auto;
	}
	&__rating {
		font-family: 'Raleway';
		position: absolute;
		top: 28px;
		right: 0;
		font-size: rem(20);
		font-weight: 600;
		line-height: 1.5em;
		min-width: 9.375rem;
		padding: rem(4) rem(10) rem(4) rem(25);
		color: #fff;
		background-color: #6CBB10;
		border-radius: 5px 0px 0px 0px;
		z-index: 10;
		@include media-breakpoint-down(md) {
			top: 33px;
		}
		&:before {
			@include mt;
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background: var(--line-gr,  linear-gradient(90deg, #6CBB10 0%, #C9DE5E 100%));
			border-radius: 5px 0px 0px 0px;
			z-index: -1;
			top: 0;
			left: 0;
		}
	}
}